<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/reset.css" rel="stylesheet">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/sm.css" rel="stylesheet">
    <title>form | research | ui-helpers</title>
</head>
<body>

<script src="https://unpkg.com/@vbarbarosh/ui-helpers@0.5.0/src/static/js/bundle.js"></script>
<script>
vue_component('v3-form-style1', {
    props: ['modelValue', 'fields', 'items'],
    template: `
        <div class="hsplit gap10">
            <div>
                <div><input placeholder="First name" /></div>
                <div><input placeholder="Last name" /></div>
                <div><input placeholder="Email address" /></div>
                <div><input placeholder="Password" /></div>
                <div><input placeholder="Password again" /></div>
                <div><input type="checkbox"> Remember me</div>
                <button type="button">Register</button>
            </div>
            <div>
                dynamic
            </div>
        </div>
    `,
});
vue_component('v3-form-style2', {
    props: ['modelValue', 'fields', 'items'],
    template: `
        <div class="hsplit gap10">
            <div class="mg5">
                <div class="flex-row-center-left gap10"><span class="w100">First name</span><input placeholder="First name" /></div>
                <div class="flex-row-center-left gap10"><span class="w100">Last name</span><input placeholder="Last name" /></div>
                <div class="flex-row-center-left gap10"><span class="w100">Email address</span><input placeholder="Email address" /></div>
                <div class="flex-row-center-left gap10"><span class="w100">Password</span><input placeholder="Password" /></div>
                <div class="flex-row-center-left gap10"><span class="w100">Password again</span><input placeholder="Password again" /></div>
                <div class="flex-row-center-left gap10"><span class="w100">Remember me</span><div><input type="checkbox"></div></div>
                <div class="flex-row-center-left gap10"><span class="w100"></span><button type="button">Register</button></div>
            </div>
            <div>dynamic</div>
        </div>
    `,
});
vue_component('v3-form-style3', {
    props: ['modelValue', 'fields', 'items'],
    template: `
        <div class="hsplit gap10">
            <div>
                <table>
                <thead></thead>
                <tbody>
                    <tr><th>First name</th><td><input placeholder="First name" /></td></tr>
                    <tr><th>Last name</th><td><input placeholder="Last name" /></td></tr>
                    <tr><th>Email address</th><td><input placeholder="Email address" /></td></tr>
                    <tr><th>Password</th><td><input placeholder="Password" /></td></tr>
                    <tr><th>Password again</th><td><input placeholder="Password again" /></td></tr>
                    <tr><th>Remember me</th><td><div><input type="checkbox"></div></td></tr>
                    <tr><th></th><td><div><input type="checkbox"> Remember me 2</div></td></tr>
                    <tr><th></th><td><button type="button">Register</button></td></tr>
                </tbody>
                </table>
            </div>
            <div>
                dynamic
            </div>
        </div>

    `,
});

vue_component('v3-input-checkbox', {
    emits: ['update:modelValue'],
    props: ['modelValue', 'label'],
    template: `
        <v3-form-item v-slot="slot" :label>
            <input v-on:input="input" v-bind:id="slot.id" v-bind:checked="modelValue" type="checkbox" />
            <label v-if="slot.placeholder" v-bind:for="slot.id">
                {{ slot.placeholder }}
            </label>
        </v3-form-item>
    `,
    methods: {
        input: function (event) {
            this.$emit('update:modelValue', event.target.checked);
        },
    }
});

vue_component('v3-input-text', {
    emits: ['update:modelValue'],
    props: ['modelValue', 'label'],
    template: `
        <v3-form-item v-slot="slot" :label>
            <input v-on:input="input"
                   v-bind:id="slot.id"
                   v-bind:placeholder="slot.placeholder"
                   v-bind:value="modelValue"
                   type="text" />
        </v3-form-item>
    `,
    methods: {
        input: function (event) {
            this.$emit('update:modelValue', event.target.value);
        },
    }
});

vue_component('v3-input-enum-radios', {
    emits: ['update:modelValue'],
    props: ['modelValue', 'label', 'options'],
    template: `
        <v3-form-item :label>
            <template v-for="option in options">
                <label>
                    <input v-on:input="input"
                       v-bind:name="name"
                       v-bind:value="option.value"
                       type="radio" />
                    {{ option.label }}
                </label>
            </template>
        </v3-form-item>`,
    data: function () {
        return {
            name: `name-${crypto.randomUUID()}`,
        };
    },
    methods: {
        input: function (event) {
            this.$emit('update:modelValue', event.target.value);
        },
    }
});

vue_component('v3-form-group', {
    inject: {v3_form: {default: null}},
    provide: function () {
        return {v3_form: this};
    },
    template: `
        <div class="border">
            <div>form-group | {{ plural(form_items.length, '# item', '# items', 'No items') }}</div>
            <div style="display:none;"><slot /></div>
        </div>
    `,
    data: function () {
        return {
            form_items: [],
            local_item: null,
        };
    },
    methods: {
        render_label: function () {
            return Vue.h('label', {for: this.id}, [this.label]);
        },
        render_body: function (props) {
            return Vue.h('div', {class: 'border'}, [
                Vue.h('div', {}, [`form-group | ${plural(this.form_items.length, '# item', '# items', 'No items')}`]),
                ...this.form_items.map(v => v.inst.render_body(props)),
            ]);
            //return this.$options.render(this);
            return null; // return this.$slots.default({id: this.id, ...props});
        },
        form_item_add: function (inst) {
console.log('form_item_add',  inst);
            const uid = `uid-${crypto.randomUUID()}`;
            this.form_items.push({uid, inst});
            return uid;
        },
        form_item_remove: function (inst) {
            const i = this.form_items.findIndex(v => v.inst === inst);
            if (i !== -1) {
                this.form_items.splice(i, 1);
            }
        },
    },
    created: function () {
        if (this.v3_form) {
            this.local_item = this.v3_form.form_item_add(this);
        }
    },
    unmounted: function () {
        if (this.v3_form) {
            this.v3_form.form_item_remove(this);
            this.local_item = null;
        }
    },
});

vue_component('v3-form-table', {
    provide: function () {
        return {v3_form: this};
    },
    template: `
        <table>
            <thead />
            <tbody>
            <tr v-for="item in form_items">
                <th><render-function :fn="item.inst.render_label" /></th>
                <td><render-function :fn="item.inst.render_body" /></td>
            </tr>
            </tbody>
        </table>
        <div style="display:none;">
            <slot />
        </div>
    `,
    data: function () {
        return {
            form_items: [],
        };
    },
    methods: {
        form_item_add: function (inst) {
            const uid = `uid-${crypto.randomUUID()}`;
            this.form_items.push({uid, inst});
            return uid;
        },
        form_item_remove: function (inst) {
            const i = this.form_items.findIndex(v => v.inst === inst);
            if (i !== -1) {
                this.form_items.splice(i, 1);
            }
        },
    }
});

vue_component('v3-form-classic', {
    provide: function () {
        return {v3_form: this};
    },
    template: `
        <div class="mg5">
            <div v-for="item in form_items" class="flex-row-center-left gap10">
                <div class="w100"><render-function :fn="item.inst.render_label" /></div>
                <div><render-function :fn="item.inst.render_body" /></div>
            </div>
        </div>
        <div style="display:none;">
            <slot />
        </div>
    `,
    data: function () {
        return {
            form_items: [],
        };
    },
    methods: {
        form_item_add: function (inst) {
            const uid = `uid-${crypto.randomUUID()}`;
            this.form_items.push({uid, inst});
            return uid;
        },
        form_item_remove: function (inst) {
            const i = this.form_items.findIndex(v => v.inst === inst);
            if (i !== -1) {
                this.form_items.splice(i, 1);
            }
        },
    }
});

vue_component('v3-form-placeholders', {
    provide: function () {
        return {v3_form: this};
    },
    template: `
        <div class="mg5">
            <div v-for="item in form_items">
                <render-function :fn="item.inst.render_body" :placeholder="item.inst.label" />
            </div>
        </div>
        <div style="display:none;">
            <slot />
        </div>
    `,
    data: function () {
        return {
            form_items: [],
        };
    },
    methods: {
        form_item_add: function (inst) {
            const uid = `uid-${crypto.randomUUID()}`;
            this.form_items.push({uid, inst});
            return uid;
        },
        form_item_remove: function (inst) {
            const i = this.form_items.findIndex(v => v.inst === inst);
            if (i !== -1) {
                this.form_items.splice(i, 1);
            }
        },
    }
});

vue_component('v3-form-item', {
    props: ['label'],
    inject: {v3_form: {default: null}},
    template: `<slot v-if="!v3_form" />`,
    data: function () {
        return {
            id: `id-${crypto.randomUUID()}`,
            local_item: null,
        };
    },
    methods: {
        render_label: function () {
            return Vue.h('label', {for: this.id}, [this.label]);
        },
        render_body: function (props) {
            return this.$slots.default({id: this.id, ...props});
        },
    },
    created: function () {
        if (this.v3_form) {
            this.local_item = this.v3_form.form_item_add(this);
        }
    },
    unmounted: function () {
        if (this.v3_form) {
            this.v3_form.form_item_remove(this);
            this.local_item = null;
        }
    },
});

vue_component('render-function', {
    props: ['fn'],
    render: function () {
        return this.fn(this.$attrs);
    },
});

vue_component('app', {
    template: `
        <div class="fix-f hsplit gap15 m10">
            <div class="fluid mg15 rainbow oa">
                <v3-form-style1 v-model="form1" :items :fields />
                <v3-form-style2 v-model="form1" :items :fields />
                <v3-form-style3 v-model="form1" :items :fields />
            </div>
            <div class="flex-col gap10 oa">
                <h3>form-classic</h3>

                <v3-form-classic>
                    <v3-form-group label="Personal information">
                        <v3-input-text v-model="form1.first_name" label="First name" />
                        <v3-input-text v-model="form1.last_name" label="Last name" />
                    </v3-form-group>
                    <v3-form-group label="Account information">
                        <v3-input-text v-model="form1.email" label="Email" />
                        <v3-input-text v-model="form1.password" label="Password" />
                        <v3-input-text v-model="form1.password2" label="Password Confirm" />
                    </v3-form-group>
                    <v3-input-checkbox v-model="form1.remember_me" label="Remember me" />
                    <v3-input-enum-radios v-model="form1.sex" :options="[{label: 'Male', value: 'male'}, {label: 'Female', value: 'female'}]" label="Sex" />
                </v3-form-classic>

                <h3>form-table</h3>
                <v3-form-table>
                    <v3-input-text v-model="form1.first_name" label="First name" />
                    <v3-input-text v-model="form1.last_name" label="Last name" />
                    <v3-input-text v-model="form1.email" label="Email" />
                    <v3-input-text v-model="form1.password" label="Password" />
                    <v3-input-text v-model="form1.password2" label="Password Confirm" />
                    <v3-input-checkbox v-model="form1.remember_me" label="Remember me" />
                    <v3-input-enum-radios v-model="form1.sex" :options="[{label: 'Male', value: 'male'}, {label: 'Female', value: 'female'}]" label="Sex" />
                </v3-form-table>
                <h3>form-placeholders</h3>
                <v3-form-placeholders>
                    <v3-input-text v-model="form1.first_name" label="First name" />
                    <v3-input-text v-model="form1.last_name" label="Last name" />
                    <v3-input-text v-model="form1.email" label="Email" />
                    <v3-input-text v-model="form1.password" label="Password" />
                    <v3-input-text v-model="form1.password2" label="Password Confirm" />
                    <v3-input-checkbox v-model="form1.remember_me" label="Remember me" />
                    <v3-input-enum-radios v-model="form1.sex" :options="[{label: 'Male', value: 'male'}, {label: 'Female', value: 'female'}]" label="Sex" />
                </v3-form-placeholders>
            </div>
            <div class="w200">
                <prism-js :value="form1_json" />
            </div>
            <div class="w400 flex-col gap10 oa">
<!--
                <img src="images/img1.png" alt="" class="max-ww">
                <img src="images/img2.png" alt="" class="max-ww">
-->
                <img src="images/img3.png" alt="" class="max-ww">
            </div>
        </div>
    `,
    data: function () {
        return {
            form1: {
                first_name: '',
                last_name: '',
                email: '',
                password: '',
                password2: '',
                remember_me: true,
            },
            fields: [
                {name: 'first_name', type: 'str'},
                {name: 'last_name', type: 'str'},
                {name: 'email', type: 'email'},
                {name: 'password', type: 'str'},
                {name: 'password2', type: 'str'},
                {name: 'remember_me', type: 'bool'},
            ],
            items: [
                // {label: 'Personal information', ui: 'group', items: [
                    {label: 'First name', field: 'first_name', component: 'form-string'},
                    {label: 'Last name', field: 'last_name', component: 'form-string'},
                // ]},
                // {label: 'Account information', ui: 'group', items: [
                    {label: 'Email address', field: 'email', component: 'form-string'},
                    {label: 'Password', field: 'password', component: 'form-string'},
                    {label: 'Password2', field: 'password2', component: 'form-string'},
                // ]},
                {label: 'Remember me', field: 'remember_me', component: 'form-checkbox'},
                {label: 'Register', component: 'form-button'},
                // {label: 'Personal information', children: [
                //     {label: 'First name'},
                //     {label: 'Last name'},
                // ]},
                // {label: 'Account information', children: [
                //     {label: 'Email address'},
                //     {label: 'Password'},
                //     {label: 'Password2'},
                // ]},
                // {label: 'Remember me'},
                // {label: 'Register'},
            ],
        };
    },
    computed: {
        form1_json: function () {
            return JSON.stringify(this.form1, null, 4);
        },
    },
});
</script>

</body>
</html>
