<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/reset.css" rel="stylesheet">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/sm.css" rel="stylesheet">
    <title>form | research | ui-helpers</title>
</head>
<body>

<script src="https://unpkg.com/@vbarbarosh/ui-helpers@0.5.0/src/static/js/bundle.js"></script>
<script>
vue_component('v5-form', {
    props: ['modelValue'],
    provide: function () {
        return {form: this};
    },
    template: `
        <div class="red">
            <slot />
        </div>
        <table class="nowrap w0">
            <tbody>
                <tr v-for="item in items" :key="item.key">
                    <th><render-function :fn="item.inst.render_label" :item /></th>
                    <td><render-function :fn="item.inst.render_control" :item /></td>
                </tr>
            </tbody>
        </table>
    `,
    data: function () {
        return {
            items: [],
        };
    },
    methods: {
        items_add: function (inst) {
            const key = crypto.randomUUID();
            const item = {key, inst};
            this.items.push(item);
            return item;
        },
        items_remove: function (item) {
            const i = this.items.indexOf(item);
            if (i !== -1) {
                this.items.splice(i, 1);
            }
        },
    },
});

vue_component('v5-form-item', {
    inheritAttrs: false,
    props: ['label'],
    inject: ['form'],
    provide: function () {
        return {form_item: this};
    },
    template: `<slot />`,
    data: function () {
        return {
            id: `id-${crypto.randomUUID()}`,
            label_inst: null,
            control_inst: null,
        };
    },
    methods: {
        add_label: function (inst) {
            this.label_inst = inst;
        },
        remove_label: function (inst) {
            if (this.label_inst === inst) {
                this.label_inst = null;
            }
        },
        add_control: function (inst) {
            this.control_inst = inst;
        },
        remove_control: function (inst) {
            if (this.control_inst === inst) {
                this.control_inst = null;
            }
        },
        render_label: function (props) {
            if (this.label_inst) {
                return this.label_inst.render_label({id: this.id, ...props});
            }
            if (this.$slots.label) {
                return this.$slots.label({id: this.id, ...props});
            }
            return Vue.h('label', {for: this.id}, this.label);
        },
        render_control: function (props) {
            if (this.control_inst) {
                const out = this.control_inst.render_control({id: this.id, ...props});
                if (out.length) {
                    out.splice(0, 1, Vue.cloneVNode(out[0], this.$attrs));
                }
                return out;
            }
            if (this.$slots.control) {
                const out = this.$slots.control({id: this.id, ...props});
                if (out.length) {
                    out.splice(0, 1, Vue.cloneVNode(out[0], this.$attrs));
                }
                return out;
            }
            return this.id;
        },
    },
    created: function () {
        this.form.items_add(this);
    },
    unmounted: function () {
        this.form.items_remove(this.local_item);
    },
});

vue_component('v5-form-label', {
    inheritAttrs: false,
    inject: ['form_item'],
    render: function () {
        return [];
    },
    methods: {
        render_label: function (props) {
            return Vue.h('label', {for: props.id, ...this.$attrs}, this.$slots.default(props));
        },
    },
    created: function () {
        this.form_item.add_label(this);
    },
    unmounted: function () {
        this.form_item.remove_label(this);
    },
});

vue_component('v5-form-control', {
    inheritAttrs: false,
    inject: ['form_item'],
    render: function () {
        return [];
    },
    methods: {
        render_control: function (props) {
            return this.$slots.default(props);
        },
    },
    created: function () {
        this.form_item.add_control(this);
    },
    unmounted: function () {
        this.form_item.remove_control(this);
    },
});

vue_component('render-function', {
    props: ['fn', 'item'],
    render: function () {
        return this.fn({item: this.item});
    },
});

vue_component('v5-input-text', {
    emits: ['update:modelValue'],
    props: ['modelValue'],
    template: `
        <v5-form-item #control="slot">
            <input v-on:input="input" v-bind:value="modelValue" v-bind:id="slot.id" type="text" />
        </v5-form-item>
    `,
    methods: {
        input: function (event) {
            this.$emit('update:modelValue', event.target.value);
        },
    }
});

vue_component('app', {
    template: `
        <div class="fix-f hsplit gap15 m10">
            <div class="fluid mg15 rainbow oa">
                <v5-form v-model="form1">
                    <v5-form-item label="Name" />

                    <v5-form-item>
                        <template #label="slot">
                            <label :for="slot.id">Brand</label>
                        </template>
                        <template #control="slot">
                            <input :id="slot.id" type="text" />
                        </template>
                    </v5-form-item>

                    <v5-form-item>
                        <v5-form-label v-slot="slot" v-on:click="click" class="flex-row-center-left gap10" data-ggg>
                            <svg-icon-ai class="w20 h20" /> Horse name
                        </v5-form-label>
                        <v5-form-control v-slot="slot">
                            <input v-model="form1.first_name" :id="slot.id" />
                        </v5-form-control>
                    </v5-form-item>

                    <v5-input-text v-model="form1.first_name" label="First Name" />

<!--
                    <v5-form-item v-slot="slot">
                        <v5-form-label>🐴 Horse name</v5-form-label>
                        <el-cascader v-model="form1.fofofo" :label-id="slot.id" />
                    </v5-form-item>
                    <input-text v-model="form1.last_name" label="Last name" />
                    <input-text v-model="form1.email" label="Email" />
                    <input-text v-model="form1.password" label="Password" />
                    <input-text v-model="form1.password2" label="Password Confirm" />
                    <input-checkbox v-model="form1.remember_me" label="Remember me" />
                    <input-enum-radios v-model="form1.sex" :options="[{label: 'Male', value: 'male'}, {label: 'Female', value: 'female'}]" label="Sex" />
-->
                </v5-form>
            </div>
            <div class="w400">
                <prism-js :value="form1_json" />
            </div>
            <div class="w400 flex-col gap10 oa">
                <img src="images/auto-placed-form.png" alt="">
            </div>
        </div>
    `,
    data: function () {
        return {
            form1: {
                first_name: '',
                last_name: '',
                email: '',
                password: '',
                password2: '',
                remember_me: true,
            },
            fields: [
                {name: 'first_name', type: 'str'},
                {name: 'last_name', type: 'str'},
                {name: 'email', type: 'email'},
                {name: 'password', type: 'str'},
                {name: 'password2', type: 'str'},
                {name: 'remember_me', type: 'bool'},
            ],
            items: [
                // {label: 'Personal information', ui: 'group', items: [
                    {label: 'First name', field: 'first_name', component: 'form-string'},
                    {label: 'Last name', field: 'last_name', component: 'form-string'},
                // ]},
                // {label: 'Account information', ui: 'group', items: [
                    {label: 'Email address', field: 'email', component: 'form-string'},
                    {label: 'Password', field: 'password', component: 'form-string'},
                    {label: 'Password2', field: 'password2', component: 'form-string'},
                // ]},
                {label: 'Remember me', field: 'remember_me', component: 'form-checkbox'},
                {label: 'Register', component: 'form-button'},
                // {label: 'Personal information', children: [
                //     {label: 'First name'},
                //     {label: 'Last name'},
                // ]},
                // {label: 'Account information', children: [
                //     {label: 'Email address'},
                //     {label: 'Password'},
                //     {label: 'Password2'},
                // ]},
                // {label: 'Remember me'},
                // {label: 'Register'},
            ],
        };
    },
    methods: {
        click: function () {
            console.log('click');
        },
    },
    computed: {
        form1_json: function () {
            return JSON.stringify(this.form1, null, 4);
        },
    },
});
</script>

</body>
</html>
