<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/reset.css" rel="stylesheet">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/sm.css" rel="stylesheet">
    <title>form | research | ui-helpers</title>
</head>
<body>

<script src="https://unpkg.com/@vbarbarosh/ui-helpers@0.5.1/src/static/js/bundle.js"></script>
<script>
const v6_form_types = {
    string: 'v6-input-text',
};

vue_component('v6-form-table', {
    props: ['modelValue'],
    provide: function () {
        return {form: this};
    },
    template: `
        <div class="red">
            <slot />
        </div>
        <table class="nowrap w0">
            <tbody>
                <tr v-for="item in items" :key="item.key">
                    <th><render-function :fn="item.inst.render_label" :item /></th>
                    <td><render-function :fn="item.inst.render_control" :item /></td>
                </tr>
            </tbody>
        </table>
    `,
    data: function () {
        return {
            items: [],
        };
    },
    methods: {
        items_add: function (inst) {
            const key = crypto.randomUUID();
            const item = {key, inst};
            this.items.push(item);
            return item;
        },
        items_remove: function (item) {
            const i = this.items.indexOf(item);
            if (i !== -1) {
                this.items.splice(i, 1);
            }
        },
    },
});

vue_component('v6-form-classic', {
    props: ['modelValue'],
    provide: function () {
        return {form: this};
    },
    template: `
        <div class="red">
            <slot />
        </div>
        <div class="mg15">
            <div v-for="item in items" :key="item.key" class="flex-col flex-align-stretch">
                <render-function :fn="item.inst.render_label" :item />
                <render-function :fn="item.inst.render_control" :item />
            </div>
        </div>
    `,
    data: function () {
        return {
            items: [],
        };
    },
    methods: {
        items_add: function (inst) {
            const key = crypto.randomUUID();
            const item = {key, inst};
            this.items.push(item);
            return item;
        },
        items_remove: function (item) {
            const i = this.items.indexOf(item);
            if (i !== -1) {
                this.items.splice(i, 1);
            }
        },
    },
});

vue_component('v6-form-item', {
    inheritAttrs: false,
    props: ['label', 'prop', 'type'],
    inject: ['form'],
    provide: function () {
        return {form_item: this};
    },
    template: `<slot />`,
    data: function () {
        return {
            id: `id-${crypto.randomUUID()}`,
            label_inst: null,
            control_inst: null,
        };
    },
    methods: {
        add_label: function (inst) {
            this.label_inst = inst;
        },
        remove_label: function (inst) {
            if (this.label_inst === inst) {
                this.label_inst = null;
            }
        },
        add_control: function (inst) {
            this.control_inst = inst;
        },
        remove_control: function (inst) {
            if (this.control_inst === inst) {
                this.control_inst = null;
            }
        },
        render_label: function (props) {
            if (this.label_inst) {
                return this.label_inst.render_label({id: this.id, ...props});
            }
            if (this.$slots.label) {
                return this.$slots.label({id: this.id, ...props});
            }
            return Vue.h('label', {for: this.id}, this.label);
        },
        render_control: function (props) {
            if (this.control_inst) {
                const out = this.control_inst.render_control({id: this.id, ...props});
                if (out.length) {
                    out.splice(0, 1, Vue.cloneVNode(out[0], this.$attrs));
                }
                return out;
            }
            if (this.$slots.control) {
                return Vue.h(Vue.resolveComponent('proxy-provide'), {name: 'form_item', value: this}, {
                    default: () => this.$slots.control({form_item: this, ...props}),
                });
                // if (out.length) {
                //     out.splice(0, 1, Vue.cloneVNode(out[0], this.$attrs));
                // }
                // return out;
            }
            if (v6_form_types[this.type]) {
                return Vue.h(Vue.resolveComponent('proxy-provide'), {name: 'form_item', value: this}, {
                    default: () => Vue.h(Vue.resolveComponent(v6_form_types[this.type]), {
                        modelValue: this.form.modelValue[this.prop],
                        'onUpdate:modelValue': v => this.form.modelValue[this.prop] = v,
                    })
                });
                // return Vue.h(Vue.resolveComponent(v6_form_types[this.type]), {
                //     modelValue: this.form.modelValue[this.prop],
                //     'onUpdate:modelValue': v => this.form.modelValue[this.prop] = v,
                //     form_item: this,
                // });
            }
            return this.id;
        },
    },
    created: function () {
        this.form.items_add(this);
    },
    unmounted: function () {
        this.form.items_remove(this.local_item);
    },
});

vue_component('v6-form-label', {
    inheritAttrs: false,
    inject: ['form_item'],
    render: function () {
        return [];
    },
    methods: {
        render_label: function (props) {
            return Vue.h('label', {for: props.id, ...this.$attrs}, this.$slots.default(props));
        },
    },
    created: function () {
        this.form_item.add_label(this);
    },
    unmounted: function () {
        this.form_item.remove_label(this);
    },
});

vue_component('proxy-provide', {
    props: ['name', 'value'],
    provide: function () {
        return {
            [this.name]: this.value,
        };
    },
    template: `<slot />`,
});

vue_component('v6-form-control', {
    inheritAttrs: false,
    inject: ['form_item'],
    render: function () {
        return [];
    },
    methods: {
        render_control: function (props) {
            return Vue.h(Vue.resolveComponent('proxy-provide'), {name: 'form_item', value: this.form_item}, {
                default: () => this.$slots.default(props),
            });
        },
    },
    created: function () {
        this.form_item.add_control(this);
    },
    unmounted: function () {
        this.form_item.remove_control(this);
    },
});

vue_component('render-function', {
    inheritAttrs: false,
    props: ['fn', 'item'],
    render: function () {
        return this.fn({item: this.item});
    },
});

vue_component('v6-input-text', {
    emits: ['update:modelValue'],
    props: ['modelValue'],
    inject: {form_item: {default: {}}},
    template: `
        <input v-on:input="input" v-bind:value="modelValue" v-bind:id="form_item.id" type="text" />
    `,
    methods: {
        input: function (event) {
            this.$emit('update:modelValue', event.target.value);
        },
    },
});

vue_component('v6-input-text2', {
    emits: ['update:modelValue'],
    props: ['modelValue', 'label'],
    inject: {form_item: {default: null}},
    template: `
        <v6-form-item v-slot:control="slot" v-if="!form_item" :label>
            <input v-on:input="input" v-bind:value="modelValue" v-bind:id="slot.form_item.id" type="text" />
        </v6-form-item>
        <input v-else v-on:input="input" v-bind:value="modelValue" v-bind:id="form_item?.id" type="text" />
    `,
    methods: {
        input: function (event) {
            this.$emit('update:modelValue', event.target.value);
        },
    },
});

vue_component('app', {
    template: `
        <div class="fix-f hsplit gap15 m10">
            <div class="fluid mg15 rainbow oa">
                <v6-form-classic v-model="form">
                    <v6-form-item label="First name" prop="first_name" type="string" />
                    <v6-form-item label="Last name" prop="last_name" type="string" />
                    <v6-form-item label="Address" prop="address" type="string" />
                    <v6-form-item label="Address 2" prop="address2" type="string" />
                    <v6-form-item label="City" prop="city" type="string" />
                    <v6-form-item label="State" prop="state">
                        <template #control>
                            <v6-input-text v-model="form.state" />
                        </template>
                    </v6-form-item>
                    <v6-form-item label="ZIP" prop="zip" type="string">
                        <v6-form-control>
                            <v6-input-text v-model="form.zip" />
                        </v6-form-control>
                    </v6-form-item>
                </v6-form-classic>
            </div>
            <div>
                <v6-form-table>
                    <v6-input-text2 v-model="form.first_name" label="First name" />
                    <v6-input-text2 v-model="form.last_name" label="Last name" />
                    <v6-input-text2 v-model="form.address" label="Address" />
                    <v6-input-text2 v-model="form.address2" label="Address 2" />
                    <v6-input-text2 v-model="form.city" label="City" />
                    <v6-input-text2 v-model="form.zip" label="ZIP" />
                </v6-form-table>
            </div>
            <div class="w400">
                <prism-js :value="form_json" />
            </div>
            <div class="w400 flex-col gap10 oa">
                <img src="images/auto-placed-form.png" alt="">
            </div>
        </div>
    `,
    data: function () {
        return {
            form: {
                first_name: '',
                last_name: '',
                address: '',
                address2: '',
                city: '',
                state: '',
                zip: '',
            },
        };
    },
    computed: {
        form_json: function () {
            return JSON.stringify(this.form, null, 4);
        },
    },
});
</script>

</body>
</html>
