<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/reset.css" rel="stylesheet">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/sm.css" rel="stylesheet">
    <title>horizontal and vertical flows | form | research | ui-helpers</title>
</head>
<body>

<!--
- layout
  - выделяет именованные места (слоты) и вставляет в них элементы (разметку)
  - стандартные слоты:
    - label
    - control
    - container/cell
  - слоты уникальные для layout
    - table: tr, th, td

I will continue with my own reasoning.

Having the following markup, how could I "tell" that some part of it should be rendered a bit differently? Currently, x-form-layout should be rendered as "cell" slot... Seems that each form-item should expose slots map telling layout engine which slots to render. But still, it's not clear how to define slot functions... Default/standard form-item have 2 render functions: render_label and render_control. They are designed for "label" and "control" slots. Following this way, form-layout component should define render_cell function for "cell" slot. Now I need to define scope for "label", "control" and "cell" slots.

label: should render <label for="id">...</label>
control: should render whatever input component was mapped to the <form-type type="..." />
cell: for layout-basic - it could be anything which will be wrapped by DIV; for layout-table - it could be anything which will be wrapped by <tr><td colspan="2">___</td></tr>

So, a "cell" is a space for both "label" and "control" but wrapped by whatever is necessary by current layout engine to keep layout consistent.

In some rare cases it would be necessary to override TD or even entire TR elements. layout-table will expose eponymous slots: "TR" for entire row (delegate is responsible to return exactly one top level element TR); "TH" for label and "TD" for control (delegate's responsibilities are the same as for TR)

---

What I need is a mechanism for defining/exposing slots on form-item elements, and mechanism for allowing user define slot mapping right from markup.
-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@vbarbarosh/ui-helpers@0.5.1/src/static/js/bundle.js"></script>
<script>
const form_types = {
    checkbox: 'input-checkbox',
    checkboxes: 'input-checkboxes',
    color: 'input-color',
    date: 'input-date',
    email: 'input-email',
    file: 'input-file',
    files: 'input-files',
    int: 'input-int',
    month: 'input-month',
    password: 'input-password',
    radio: 'input-radio',
    radios: 'input-radios',
    range: 'input-range',
    search: 'input-search',
    select: 'input-select',
    'select-many': 'input-select-many',
    string: 'input-string',
    tel: 'input-tel',
    text: 'input-text',
    textarea: 'input-textarea',
    time: 'input-time',
    url: 'input-url',
    week: 'input-week',
};

vue_component('warn-invalid-layout-item-type', {
    props: ['item'],
    template: `
        <span>⚠️ Unknown item type: [{{ item.type }}]</span>
    `,
});

// - label
// - control
// - container
vue_component('layout-basic', {
    props: ['items'],
    template: `
        <div class="mg10">
            <template v-for="(item,i) in items" v-bind:key="item.key">
                <template v-if="(item.inst.insertions.container)">
                    <div><render-function :fn="item.inst.insertions.container" /></div>
                </template>
                <template v-else-if="(item.inst.insertions.label && item.inst.insertions.control)">
                    <div class="hsplit gap10">
                        <div class="w150"><render-function :fn="item.inst.insertions.label" /></div>
                        <div class="fluid"><render-function :fn="item.inst.insertions.control" /></div>
                    </div>
                </template>
                <template v-else>
                    <warn-invalid-layout-item-type :item />
                </template>
            </template>
        </div>
    `,
});

// - label
// - control
// - container
// - layout_table_tr
// - layout_table_tr2
vue_component('layout-table', {
    props: ['items'],
    template: `
        <table>
            <thead>
            </thead>
            <tbody>
                <template v-for="item in items" v-bind:key="item.key">
                    <template v-if="item.inst.insertions.layout_table_tr">
                        <render-function :fn="item.inst.insertions.layout_table_tr" />
                    </template>
                    <template v-else-if="item.inst.insertions.layout_table_tr2">
                        <tr>
                            <render-function :fn="item.inst.insertions.layout_table_tr2" />
                        </tr>
                    </template>
                    <template v-else-if="item.inst.insertions.container">
                        <tr>
                            <td colspan="2">
                                <render-function :fn="item.inst.insertions.container" />
                            </td>
                        </tr>
                    </template>
                    <template v-else-if="(item.inst.insertions.label && item.inst.insertions.control)">
                        <tr>
                            <th><render-function :fn="item.inst.insertions.label" /></th>
                            <td><render-function :fn="item.inst.insertions.control" /></td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="2">
                                ⚠️ Unrecognized insertions: {{ win.Object.keys(item.inst.insertions) }}
                            </td>
                        </tr>
                    </template>
                </template>
            </tbody>
        </table>
    `,
});

vue_component('layout-columns', {
    props: ['items', 'cols'],
    template: `
        <div class="flex-row gap10">
            <template v-for="ci in computed_items" v-bind:key="ci.key">
                <template v-if="ci.orig.inst.insertions.container">
                    <div v-bind:style="ci.style">
                        <render-function :fn="ci.orig.inst.insertions.container" />
                    </div>
                </template>
                <template v-else-if="(ci.orig.inst.insertions.label && ci.orig.inst.insertions.control)">
                    <div v-bind:style="ci.style" class="flex-col gap5">
                        <render-function :fn="ci.orig.inst.insertions.label" />
                        <render-function :fn="ci.orig.inst.insertions.control" />
                    </div>
                </template>
                <template v-else>
                    <warn-invalid-layout-item-type :item="ci.orig" />
                </template>
            </template>
        </div>
    `,
    computed: {
        computed_items: function () {
            const cols = (this.cols||'1').split(',');
            return this.items.map(function (item, i) {
                return {key: item.key, orig: item, style: `flex: ${cols[i] ?? 1} 0 0; min-width: 0;`};
            });
        },
    },
});

vue_component('layout-tabs', {
    props: ['items'],
    template: `
        <tabs>
            <tabs-item v-for="item in items" v-bind:key="item.key" v-bind:label="item.inst.label">
                <render-function :fn="(item.inst.insertions.container ?? item.inst.insertions.control)" />
            </tabs-item>
        </tabs>
    `,
});

vue_component('layout-accordion', {
    props: ['items'],
    template: `
        <div>
            🚧 Not Implemented 🚧
        </div>
    `,
    data: function () {
        return {
            open: false,
        };
    },
    methods: {
        click_expand: function () {
            this.open = true;
        },
        click_collapse: function () {
            this.open = false;
        },
    },
});

vue_component('layout-wrapper', {
    props: ['items', 'wrapper', 'layout2'],
    template: `
        <component v-bind:is="wrapper">
            <component v-bind:is="(layout2 ?? 'layout-basic')" :items />
        </component>
    `,
});

vue_component('expand', {
    props: ['items', 'layout'],
    template: `
        <div class="mg10">
            <slot name="label">
                <div>
                    <button v-if="!open" v-on:click="click_expand">expand</button>
                    <button v-else v-on:click="click_collapse">collapse</button>
                </div>
            </slot>
            <div v-show="open">
                <slot>DEFAULT CONTENTS</slot>
            </div>
        </div>
    `,
    data: function () {
        return {
            open: false,
        };
    },
    methods: {
        click_expand: function () {
            this.open = true;
        },
        click_collapse: function () {
            this.open = false;
        },
    },
});

vue_component('x-form', {
    props: ['layout'],
    inheritAttrs: false,
    provide: function () {
        return {
            form_items: {
                add: inst => this.items.push({key: crypto.randomUUID(), inst}),
                remove: inst => this.items.splice(this.items.findIndex(v => v.inst === inst) >>> 1, 1),
            },
        };
    },
    template: `
        <div class="red">
            <slot />
        </div>
        <component v-slot="slot" v-bind:is="(layout ?? 'layout-basic')" :items v-bind="$attrs">
            <template v-if="slot.item.inst.render_layout">
                <render-function v-slot="slot2" :fn="slot.item.inst.render_layout">
                    <!--<layout-basic :items="slot2.items" />-->
                    ggg
                </render-function>
            </template>
        </component>
    `,
    data: function () {
        return {
            items: [],
        };
    },
});

vue_component('x-form-item', {
    emits: ['update:modelValue'],
    props: ['modelValue', 'type', 'label', 'layout'],
    inheritAttrs: false,
    inject: {
        form_items_parent: {from: 'form_items', default: {add: () => 0, remove: () => 0}},
    },
    provide: function () {
        return {
            form_items: {
                add: inst => this.child_items.push({key: crypto.randomUUID(), inst}),
                remove: inst => this.child_items.splice(this.child_items.findIndex(v => v.inst === inst) >>> 1, 1),
            },
        };
    },
    template: '<slot />',
    data: function () {
        return {
            id: `id-${crypto.randomUUID()}`,
            insertions: {
                label: this.render_label,
                control: this.render_control,
                ...(this.label ? {} : {container: this.render_control}),
                ...this.$slots,
            },
            child_items: [],
        };
    },
    methods: {
        render_label: function () {
            return Vue.h('label', {for: this.id}, this.label);
        },
        render_control: function () {
            if (this.wrapper) {
                if (this.layout) {
                    return Vue.h(Vue.resolveComponent(this.wrapper), null, {
                        default: () => [
                            Vue.h(Vue.resolveComponent(this.layout), {
                                ...this.$attrs,
                                items: this.child_items,
                            }),
                        ],
                    });
                }
                return Vue.h(Vue.resolveComponent(this.wrapper), null, {
                    default: () => [
                        Vue.h(Vue.resolveComponent(form_types[this.type]), {
                            id: this.id,
                            modelValue: this.modelValue,
                            'onUpdate:modelValue': v => this.$emit('update:modelValue', v),
                        }),
                    ],
                });
            }
            if (this.layout) {
                if (this.wrapper) {
                    return Vue.h(Vue.resolveComponent(this.wrapper), null, {
                        default: () => [
                            Vue.h(Vue.resolveComponent(this.layout), {
                                ...this.$attrs,
                                items: this.child_items,
                            }),
                        ],
                    });
                }
                return Vue.h(Vue.resolveComponent(this.layout), {
                    ...this.$attrs,
                    items: this.child_items,
                });
            }
            return Vue.h(Vue.resolveComponent(form_types[this.type]), {
                id: this.id,
                modelValue: this.modelValue,
                'onUpdate:modelValue': v => this.$emit('update:modelValue', v),
            });
        },
    },
    created: function () {
        this.form_items_parent.add(this);
    },
    unmounted: function () {
        this.form_items_parent.remove(this);
    },
});

vue_component('render-function', {
    inheritAttrs: false,
    props: ['fn', 'item'],
    render: function () {
        return this.fn({item: this.item}, this.$slots);
    },
});

vue_component('app', {
    template: `
    <div class="fix-f hsplit gap15 m10">
        <div class="fluid mg15 rainbow oa">
            <x-form>
                <x-form-item layout="layout-basic">
                    <x-form-item v-model="form.gender" type="text" label="Gender" />
                    <x-form-item layout="layout-columns" cols="2,5,5">
                        <x-form-item v-model="form.name.title" type="text" label="cols.Title" />
                        <x-form-item v-model="form.name.first" type="text" label="cols.First" />
                        <x-form-item v-model="form.name.last" type="text" label="cols.Last" />
                    </x-form-item>
                    <x-form-item layout="layout-table">
                        <x-form-item>
                            <template #label>GGG</template>
                            <template #control>XXXX</template>
                            <template #container>CONTAINER</template>
                            <template #layout_table_tr>
                                <tr><td>layout_table_tr</td></tr>
                            </template>
                        </x-form-item>
                        <x-form-item layout="layout-table" label="Item with children" >
                            <x-form-item v-model="form.name.title" type="text" label="CC Title" />
                            <x-form-item v-model="form.name.first" type="text" label="CC First" />
                            <x-form-item v-model="form.name.last" type="text" label="CC Last" />
                        </x-form-item>
                        <x-form-item v-model="form.name.title" type="text" label="Title" />
                        <x-form-item v-model="form.name.first" type="text" label="First" />
                        <x-form-item layout="layout-table" wrapper="expand"  label="Whatever111">
                            <x-form-item v-model="form.name.title" type="text" label="Title" />
                            <x-form-item v-model="form.name.first" type="text" label="First" />
                            <x-form-item v-model="form.name.last" type="text" label="Last" />
                        </x-form-item>
                        <x-form-item #control label="Whatever2">
                            <expand>
                                <x-form layout="layout-table">
                                    <x-form-item v-model="form.name.title" type="text" label="Title" />
                                    <x-form-item v-model="form.name.first" type="text" label="First" />
                                    <x-form-item v-model="form.name.last" type="text" label="Last" />
                                </x-form>
                            </expand>
                        </x-form-item>
                        <x-form-item #container>
                            <tabs>
                                <tabs-item label="First">
                                    <x-form layout="layout-table">
                                        <x-form-item v-model="form.name.title" type="text" label="tab-Title" />
                                        <x-form-item v-model="form.name.first" type="text" label="tab-First" />
                                        <x-form-item v-model="form.name.last" type="text" label="tab-Last" />
                                    </x-form>
                                </tabs-item>
                                <tabs-item label="Second">
                                    <x-form layout="layout-columns" cols="2,5,5">
                                        <x-form-item v-model="form.name.title" type="text" label="tab-Title" />
                                        <x-form-item v-model="form.name.first" type="text" label="tab-First" />
                                        <x-form-item v-model="form.name.last" type="text" label="tab-Last" />
                                    </x-form>
                                </tabs-item>
                            </tabs>
                        </x-form-item>
                        <x-form-item layout="layout-table" wrapper="expand">
                            <template v-slot:label>
                                --- I'm a <u>custom</u> label! ---
                                <br>
                                {{ form.name.title }}
                            </template>
                            <x-form-item v-model="form.name.title" type="text" label="Title" />
                            <x-form-item v-model="form.name.first" type="text" label="First" />
                            <x-form-item v-model="form.name.last" type="text" label="Last" />
                        </x-form-item>
                        <x-form-item v-model="form.name.last" type="text" label="Last" />
                        <x-form-item layout="layout-tabs" label="Tabs please!">
                            <x-form-item v-model="form.name.title" type="text" label="Title" />
                            <x-form-item v-model="form.name.first" type="text" label="First" />
                            <x-form-item v-model="form.name.last" type="text" label="Last" />
                            <x-form-item layout="layout-table" label="Nested Triple">
                                <x-form-item v-model="form.name.title" type="text" label="TT.Title" />
                                <x-form-item v-model="form.name.first" type="text" label="TT.First" />
                                <x-form-item v-model="form.name.last" type="text" label="TT.Last" />
                            </x-form-item>
                        </x-form-item>
                        <x-form-item layout="layout-accordion" label="Tabs please!">
                            <x-form-item layout="layout-table" lable="Expand">
                                <x-form-item v-model="form.name.title" type="text" label="Title" />
                                <x-form-item v-model="form.name.first" type="text" label="First" />
                                <x-form-item v-model="form.name.last" type="text" label="Last" />
                            </x-form-item>
                        </x-form-item>
                        <x-form-item layout="layout-wrapper" wrapper="DIV" style="border:10px solid #ff8;">
                            <x-form-item layout="layout-wrapper" wrapper="DIV" style="border:10px solid #f88;">
                                <x-form-item layout="layout-wrapper" wrapper="expand" _label="Tabs please!">
                                    <x-form-item v-model="form.name.title" type="text" label="Title" />
                                    <x-form-item v-model="form.name.first" type="text" label="First" />
                                    <x-form-item v-model="form.name.last" type="text" label="Last" />
                                </x-form-item>
                            </x-form-item>
                        </x-form-item>
                    </x-form-item>
                    <x-form-item layout="layout-columns" cols="2,5,5">
                        <x-form-item v-model="form.name.title" type="text" label="Title" />
                        <x-form-item v-model="form.name.first" type="text" label="First" />
                        <x-form-item v-model="form.name.last" type="text" label="Last" />
                    </x-form-item>
                </x-form-item>
            </x-form>
        </div>
        <div class="mg10">
<pre class="ph10 pv5 yellow dashed">
<b>layout-engine</b>:
- для каждого элемента (items) создает свою строчку (свой контейнер)
- внутри этой строчки создаются места для <b>label,control,help,error</b>
- элемент может указать какие слоты ему нужны
    - например отрисовать себя на всей строчке
    - или отрисовать себя в ячейке для control
</pre>
            <div>
                <label>Gender</label>
                <input v-model="form.gender" type="text">
            </div>
            <div class="flex-row gap10">
                <div style="flex: 2 0 0;min-width:0;" class="flex-col gap5">
                    <label>Title</label>
                    <input v-model="form.name.title" type="text">
                </div>
                <div style="flex: 5 0 0;min-width:0;" class="flex-col gap5">
                    <label>First</label>
                    <input v-model="form.name.first" type="text">
                </div>
                <div style="flex: 5 0 0;min-width:0;" class="flex-col gap5">
                    <label>Last</label>
                    <input v-model="form.name.last" type="text">
                </div>
            </div>
        </div>
        <div class="w400">
            <prism-js :value="form_json" />
        </div>
    </div>
`,
    data: function () {
        return {
            form: {
                gender: '',
                name: {
                    title: 'tt',
                    first: 'ff',
                    last: 'll',
                },
                first_name: '',
                last_name: '',
                address: '',
                address2: '',
                city: '',
                state: '',
                zip: '',
            },
        };
    },
    computed: {
        form_json: function () {
            return JSON.stringify(this.form, null, 4);
        },
    },
})
</script>

</body>
</html>
