<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/reset.css" rel="stylesheet">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/sm.css" rel="stylesheet">
    <title>horizontal and vertical flows | form | research | ui-helpers</title>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@vbarbarosh/ui-helpers@0.5.1/src/static/js/bundle.js"></script>
<script>
const form_types = {
    checkbox: 'input-checkbox',
    checkboxes: 'input-checkboxes',
    color: 'input-color',
    date: 'input-date',
    email: 'input-email',
    file: 'input-file',
    files: 'input-files',
    int: 'input-int',
    month: 'input-month',
    password: 'input-password',
    radio: 'input-radio',
    radios: 'input-radios',
    range: 'input-range',
    search: 'input-search',
    select: 'input-select',
    'select-many': 'input-select-many',
    string: 'input-string',
    tel: 'input-tel',
    text: 'input-text',
    textarea: 'input-textarea',
    time: 'input-time',
    url: 'input-url',
    week: 'input-week',
};

vue_component('layout-basic', {
    props: ['items'],
    template: `
        <div class="mg10">
            <template v-for="(item,i) in items" v-bind:key="item.key" >
                <slot v-bind:item="item">
                    <div class="hsplit gap10">
                        <div class="w150"><render-function v-if="item.inst.render_label" :fn="item.inst.render_label" /></div>
                        <div class="fluid"><render-function v-if="item.inst.render_control" :fn="item.inst.render_control" /></div>
                    </div>
                </slot>
            </template>
        </div>
    `,
});

vue_component('layout-table', {
    props: ['items'],
    template: `
        <table>
            <thead>
            </thead>
            <tbody>
                <tr v-for="item in items" v-bind:key="item.key">
                    <td v-if="(item.inst.$attrs['ggg-table-full-row'] === '')" colspan="2">
                        <slot :item />
                    </td>
                    <template v-else>
                        <th><render-function v-if="item.inst.render_label" :fn="item.inst.render_label" /></th>
                        <td>
                            <slot :item>
                                <render-function v-if="item.inst.render_control" :fn="item.inst.render_control" />
                            </slot>
                        </td>
                    </template>
                </tr>
            </tbody>
        </table>
    `,
});

vue_component('layout-columns', {
    props: ['items', 'cols'],
    template: `
        <div class="flex-row gap10">
            <div v-for="item in computed_items" v-bind:key="item.key" v-bind:style="item.style" class="flex-col gap5">
                <slot v-bind:item="item.orig">
                    <render-function :fn="item.orig.inst.render_label" />
                    <render-function :fn="item.orig.inst.render_control" />
                </slot>
            </div>
        </div>
    `,
    computed: {
        computed_items: function () {
            const cols = (this.cols||'1').split(',');
            return this.items.map(function (item, i) {
                return {key: item.key, orig: item, style: `flex: ${cols[i] ?? 1} 0 0; min-width: 0;`};
            });
        },
    },
});

vue_component('wrapper-accordion', {
    props: ['items'],
    template: `
        <div class="mg10">
            <slot name="label">
                <div>
                    <button v-if="!open" v-on:click="click_expand">expand</button>
                    <button v-else v-on:click="click_collapse">collapse</button>
                </div>
            </slot>
            <div v-show="open">
                <slot name="container" :items />
            </div>
        </div>
    `,
    data: function () {
        return {
            open: false,
        };
    },
    methods: {
        click_expand: function () {
            this.open = true;
        },
        click_collapse: function () {
            this.open = false;
        },
    },
});

vue_component('x-form', {
    provide: function () {
        return {
            form_items: {
                add: inst => this.items.push({key: crypto.randomUUID(), inst}),
                remove: inst => this.items.splice(this.items.findIndex(v => v.inst === inst) >>> 1, 1),
            },
        };
    },
    template: `
        <div class="red">
            <slot />
        </div>
        <layout-basic v-slot="slot" :items>
            <template v-if="slot.item.inst.render_layout">
                <render-function v-slot="slot2" :fn="slot.item.inst.render_layout">
                    <!--<layout-basic :items="slot2.items" />-->
                    ggg
                </render-function>
            </template>
        </layout-basic>
    `,
    data: function () {
        return {
            items: [],
        };
    },
});

vue_component('x-form-layout', {
    props: ['layout'],
    inheritAttrs: false,
    inject: {
        form_items_parent: {from: 'form_items', default: {add: () => 0, remove: () => 0}},
    },
    provide: function () {
        return {
            form_items: {
                add: inst => this.items.push({key: crypto.randomUUID(), inst}),
                remove: inst => this.items.splice(this.items.findIndex(v => v.inst === inst) >>> 1, 1),
            },
        };
    },
    template: '<slot />',
    data: function () {
        return {
            items: [],
        };
    },
    methods: {
        render_layout: function (params, slots) {
            // <layout-columns :items cols="2,5,5" />
            return Vue.h(Vue.resolveComponent(this.layout), {...this.$attrs, items: this.items}, {
                default: function (slot) {
                    if (slot.item.inst.render_layout) {
                        return slot.item.inst.render_layout();
                    }
                    return [];
//             <template v-if="!(slot.item.inst.type)">
//                 <render-function v-slot="slot2" :fn="slot.item.inst.render_layout">
//                     <layout-basic :items="slot2.items" />
//                 </render-function>
//             </template>
                },
            });
        },
    },
    created: function () {
        this.form_items_parent.add(this);
    },
    unmounted: function () {
        this.form_items_parent.remove(this);
    },
});

vue_component('x-form-wrapper', {
    props: ['name', 'layout'],
    inheritAttrs: false,
    inject: {
        form_items_parent: {from: 'form_items', default: {add: () => 0, remove: () => 0}},
    },
    provide: function () {
        return {
            form_items: {
                add: inst => this.items.push({key: crypto.randomUUID(), inst}),
                remove: inst => this.items.splice(this.items.findIndex(v => v.inst === inst) >>> 1, 1),
            },
        };
    },
    template: '<slot />',
    data: function () {
        return {
            items: [],
        };
    },
    methods: {
        render_label: function () {
            return 'CUSTOM LABEL';
        },
        render_layout: function (params, slots) {
            const _this = this;
            return Vue.h(Vue.resolveComponent(this.name), {...this.$attrs, items: this.items}, {
                container: function (slot) {
                    return Vue.h(Vue.resolveComponent(_this.layout ?? 'layout-basic'), {items: slot.items});
                },
            });
        },
    },
    created: function () {
        this.form_items_parent.add(this);
    },
    unmounted: function () {
        this.form_items_parent.remove(this);
    },
});

// vue_component('x-form-layout-basic', {
//     inject: {
//         form_items_parent: {from: 'form_items', default: {add: () => 0, remove: () => 0}},
//     },
//     provide: function () {
//         return {
//             form_items: {
//                 add: inst => this.items.push({key: crypto.randomUUID(), inst}),
//                 remove: inst => this.items.splice(this.items.findIndex(v => v.inst === inst) >>> 1, 1),
//             },
//         };
//     },
//     template: `
//         <div class="red">
//             <slot />
//         </div>
//         <layout-basic v-slot="slot" :items>
//             <template v-if="!(slot.item.inst.type)">
//                 <render-function v-slot="slot2" :fn="slot.item.inst.render_layout">
//                     <layout-basic :items="slot2.items" />
//                 </render-function>
//             </template>
//         </layout-basic>
//     `,
//     data: function () {
//         return {
//             items: [],
//         };
//     },
//     methods: {
//         render_layout: function () {
//             return Vue.h('DIV', null, 'LAYOUT_BASIC');
//         },
//     },
//     created: function () {
//         this.form_items_parent.add(this);
//     },
//     unmounted: function () {
//         this.form_items_parent.remove(this);
//     },
// });
//
// vue_component('x-form-layout-second', {
//     props: ['cols'],
//     inject: {
//         form_items_parent: {from: 'form_items', default: {add: () => 0, remove: () => 0}},
//     },
//     provide: function () {
//         return {
//             form_items: {
//                 add: inst => this.items.push({key: crypto.randomUUID(), inst}),
//                 remove: inst => this.items.splice(this.items.findIndex(v => v.inst === inst) >>> 1, 1),
//             },
//         };
//     },
//     template: '<slot />', // give a changes for children to be registered
//     data: function () {
//         return {
//             items: [],
//             layout: true,
//         };
//     },
//     methods: {
//         render_layout: function (params, slots) {
//             return Vue.h(Vue.resolveComponent('layout-columns'), {items: this.items, cols: this.cols});
//         },
//     },
//     created: function () {
//         this.form_items_parent.add(this);
//     },
//     unmounted: function () {
//         this.form_items_parent.remove(this);
//     },
// });

vue_component('x-form-item', {
    emits: ['update:modelValue'],
    props: ['modelValue', 'type', 'label'],
    inject: ['form_items'],
    template: '<slot />',
    data: function () {
        return {
            id: `id-${crypto.randomUUID()}`,
        };
    },
    methods: {
        render_label: function () {
            return Vue.h('label', {for: this.id}, this.label);
        },
        render_control: function () {
            return Vue.h(Vue.resolveComponent(form_types[this.type]), {
                id: this.id,
                modelValue: this.modelValue,
                'onUpdate:modelValue': v => this.$emit('update:modelValue', v),
            });
        },
    },
    created: function () {
        this.form_items.add(this);
    },
    unmounted: function () {
        this.form_items.remove(this);
    },
});

vue_component('render-function', {
    inheritAttrs: false,
    props: ['fn', 'item'],
    render: function () {
        return this.fn({item: this.item}, this.$slots);
    },
});

vue_component('app', {
    template: `
    <div class="fix-f hsplit gap15 m10">
        <div class="fluid mg15 rainbow oa">
            <x-form>
                <x-form-layout layout="layout-basic">
                    <x-form-item v-model="form.gender" type="text" label="Gender" />
                    <x-form-layout layout="layout-columns" cols="2,5,5">
                        <x-form-item v-model="form.name.title" type="text" label="Title" />
                        <x-form-item v-model="form.name.first" type="text" label="First" />
                        <x-form-item v-model="form.name.last" type="text" label="Last" />
                    </x-form-layout>
                    <x-form-layout layout="layout-table">
                        <x-form-item v-model="form.name.title" type="text" label="Title" />
                        <x-form-item v-model="form.name.first" type="text" label="First" />
                        <x-form-wrapper name="wrapper-accordion" layout="layout-table">
                            <x-form-item v-model="form.name.title" type="text" label="Title" />
                            <x-form-item v-model="form.name.first" type="text" label="First" />
                            <x-form-item v-model="form.name.last" type="text" label="Last" />
                        </x-form-wrapper>
                        <x-form-wrapper name="wrapper-accordion" layout="layout-table" ggg-table-full-row>
                            <x-form-item v-model="form.name.title" type="text" label="Title" />
                            <x-form-item v-model="form.name.first" type="text" label="First" />
                            <x-form-item v-model="form.name.last" type="text" label="Last" />
                        </x-form-wrapper>
                        <x-form-item v-model="form.name.last" type="text" label="Last" />
                    </x-form-layout>
                    <x-form-wrapper name="wrapper-accordion">
                        <x-form-item v-model="form.name.title" type="text" label="Title" />
                        <x-form-item v-model="form.name.first" type="text" label="First" />
                        <x-form-item v-model="form.name.last" type="text" label="Last" />
                    </x-form-wrapper>
                </x-form-layout>
            </x-form>
        </div>
        <div>
            <div class="mg10">
                <div>
                    <label>Gender</label>
                    <input v-model="form.gender" type="text">
                </div>
                <div class="flex-row gap10">
                    <div style="flex: 2 0 0;min-width:0;" class="flex-col gap5">
                        <label>Title</label>
                        <input v-model="form.name.title" type="text">
                    </div>
                    <div style="flex: 5 0 0;min-width:0;" class="flex-col gap5">
                        <label>First</label>
                        <input v-model="form.name.first" type="text">
                    </div>
                    <div style="flex: 5 0 0;min-width:0;" class="flex-col gap5">
                        <label>Last</label>
                        <input v-model="form.name.last" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="w400">
            <prism-js :value="form_json" />
        </div>
    </div>
`,
    data: function () {
        return {
            form: {
                gender: '',
                name: {
                    title: 'tt',
                    first: 'ff',
                    last: 'll',
                },
                first_name: '',
                last_name: '',
                address: '',
                address2: '',
                city: '',
                state: '',
                zip: '',
            },
        };
    },
    computed: {
        form_json: function () {
            return JSON.stringify(this.form, null, 4);
        },
    },
})
</script>

</body>
</html>
