<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/reset.css" rel="stylesheet">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/sm.css" rel="stylesheet">
    <style>
        .gap10 { gap: 10px; }
        .gap15 { gap: 15px; }
        .fit-down { object-fit: scale-down; }
        pre { margin: 0; }
    </style>
    <title>demo.html</title>
</head>
<body>

<script src="js/bundle.js"></script>
<script>
vue_component('app', {
    template: `
        <tabs v-if="ready">
            <tabs-item label="Snapshots">
                <data-snapshots v-slot="snapshots" :templ="{label: '', inputs: {}}">
                    <div class="flex-row gap10">
                        <div class="w200">
                            <table-sel :items="snapshots.items.slice().reverse()" :columns="[{label: 'label', slot: 'label'}]">
                                <template v-slot:label="slot">
                                    <button v-on:click="snapshots.activate(slot.item)">{{ slot.item.label }}</button>
                                </template>
                            </table-sel>
                            <button v-on:click="snapshots.capture">capture</button>
                        </div>
                        <div class="flex-col flex-align-start gap10">
                            <input-checkbox v-model="snapshots.active.inputs.checkbox" />
                            <input-int v-model="snapshots.active.inputs.int" />
                            <input-text v-model="snapshots.active.inputs.text" />
                            <input-textarea v-autosize v-model="snapshots.active.inputs.textarea" />
                            <pre>{{ snapshots.items }}</pre>
                        </div>
                    </div>
                </data-snapshots>
            </tabs-item>
            <tabs-item label="Snippets" active>
                <data-vars v-slot="vars" :vars="{selection: []}">
                <data-filter v-slot="filter" :items="snippets" prop="name">
                <data-local-storage v-model="filter.pattern" store="main">
                <data-local-storage-selection :selection="vars.selection" :items="snippets" prop="name" store="main_sel">
                    <div class="hsplit gap10">
                        <div class="w200">
                            <input-search v-autofocus v-model="filter.pattern" />
                            <table-sel :selection="vars.selection" :items="filter.computed_items" columns="name" />
                        </div>
                        <div class="fluid">
                            <markdown-with-tabs v-for="item in vars.selection" v-bind:key="item.name" v-bind:value="item.markdown" />
                        </div>
                    </div>
                </data-local-storage-selection>
                </data-local-storage>
                </data-filter>
                </data-vars>
            </tabs-item>
        </tabs>
    `,
    data: function () {
        return {
            ready: false,
            snippets: [],
            inputs: {
                bool: false,
                int: 0,
                str: '',
                textarea: '',
            },
        };
    },
    methods: {
    },
    created: async function () {
        const ss = [
            'snippets/buttons.md',
            'snippets/download-zip.md',
            'snippets/fancybox.md',
            'snippets/files-browser.md',
            'snippets/forms.md',
            'snippets/highlight.md',
            'snippets/inputs.md',
            'snippets/lipsum-countries.md',
            'snippets/svg-icons.md',
            'snippets/tables.md',
            'snippets/tabs.md',
            'snippets/vendor-element-plus.md',
            'snippets/vendor-observable-plot.md',
            'snippets/virtual-grid.md',
        ];
        this.snippets = await blocking(Promise.all(ss.map(async function (url) {
            const markdown = await http_get_utf8(url);
            return {name: url.split('/').pop(), markdown: markdown};
        })));
        this.ready = true;
    },
});
</script>

</body>
</html>
